<app-header></app-header>
<div class="jumbotron bg-cover">
    <div class="container ">
        <br><h2 class="display-5 text-center font-weight-bold">Welcome To FX Trading</h2><hr>
        <p>-->To Exchange your currency <br>
            click here...<a routerLink="/BookTrade" >Book Trade</a></p>
        <p>-->To Get your Trade History <br>
            click here...<a routerLink="/PrintTrade">Trade List</a></p>
        <p>-->To Quit Fx Trading <br>
            click here...<a routerLink="/Home">Exit</a></p><br>
    </div>
</div>